@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');
#navbar-1{
  background-color: transparent !important;
}

#content-supported{
  margin-right: 75% !important;
}

.user-info{
  color: aliceblue !important;
}

nav{
  font-family: 'Over the Rainbow', cursive;
}