<nav class="navbar navbar-expand-lg bg-body-tertiary user-info" id="navbar-1">
  <div class="container-fluid user-info">
    <a class="navbar-brand user-info" href="#">Odín</a>
    <button class="navbar-toggler user-info" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="content-supported">
        <li class="nav-item">
          <a class="nav-link active user-info" aria-current="page" *ngIf="UsrEn!=undefined">Horario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link user-info" *ngIf="UsrPd!=undefined" id="clients">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link user-info" *ngIf="UsrCl!=undefined" id="providers">Proveedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link user-info" *ngIf="UsrCl!=undefined || UsrEn!=undefined" id="supports">Visitas</a>
        </li>
      </ul>
      <div class="user-info" *ngIf="token!=undefined">
        <div class="nav-item dropdown">
          <div>
            <img src="{{user.ProfilePhoto}}" class="rounded-circle" style="height: 2rem;">
          </div>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.Name}}
          </a>
          <ul class="dropdown-menu dropdown-menu-start">
            <li><a class="dropdown-item" href="#">Profile</a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</nav>

<div class="container">
  <div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item" *ngIf="UsrEn || UsrCl">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Soportes
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row" *ngFor="let supp of UserGeneral.Supports">
              a
            </div>    
          </div>
        </div>
      </div>
      <div class="accordion-item" *ngIf="UsrEn">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Proveedor
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              {{UserGeneral.Provider}}
            </div>    
          </div>
        </div>
      </div>
      <div class="accordion-item" *ngIf="UsrCl">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Proveedores
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row" *ngFor="let supp of UserGeneral.Providers">
              a
            </div>    
          </div>
        </div>
      </div>
      <div class="accordion-item" *ngIf="UsrPd">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Clientes
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row" *ngFor="let supp of UserGeneral.Clients">
              a
            </div>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>